# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 846da59f608687912502329bd495a8db4f969bdf952b10c09db4189716bdc4eb5f77ac0712d7caee43d0ca81d9c5347665fbae30f203816e7304064d9ef2d6a1

test:
  secret_key_base: bb4c3845d6bd8e33ab80f8fcf81fb94b1351d924e4215468daeb3afa1e01bb58bb79aa164d2c6ca898a2be3063188cca355e6161fc9895a739e1180702a49b12

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
